.chart-container {
    margin: 0 auto;

  }
.DiviMargin{
  padding-left: 10px;
  padding-right: 10px;
}

.solarPrimaryColor{
    color: #7a49d1
}

.eolicaPrimaryColor{
  color: #b99dea
}

.pchPrimaryColor{
  color: #9e79e0;
}
