
<mat-card tabindex="0" class="chart-container" [style.width]="resizableWidth" (window:resize)="onResize($event)">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons md-36">bar_chart</i>
    </div>
    <mat-card-title>Energia total anual</mat-card-title>
    <mat-card-subtitle>Ativos ômega</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  <canvas baseChart
  [data]="horizontalBarChartData" [colors]="horizontalBarChartColors" [labels]="horizontalBarChartLabels"  [options]="horizontalBarChartOptions" chartType="horizontalBar">
  </canvas>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Nova meta</button>
  </mat-card-actions>
</mat-card>
